/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Font */

/* Start Body */
.body {
    background-image: url('img/download.jpg');
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Roboto';
    font-size: 16 px;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
/* End Body */
@media only screen and (max-width:600px){
    body {
        font-size: 13px;
    }
}
/* Start Debug */
.bg-grey {
    background-color: burlywood
}
/* End Debug */

/* Start Container */
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
    z-index: 100;
}

/* Start Menu Primer*/
.menu-primer ul {
    background-color: gainsboro;
    border-radius: 8px;
    box-shadow: 
            0 3px 5px -1px gold (0,0,0,.2),
            0 6px 10px 0 gold (0,0,0,.14),
            0 1px 18px 0 gold (0,0,0,.12);
    text-align: center;
}

.menu-primer li {
    display: inline-block;
    margin: 0 -4px;
    border-right: 1px solid grey;
}
.menu-primer a {
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 25px;
    text-transform: uppercase;
}
/* End Menu Primer */

/* Start Jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color:black;
    text-align: center;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
/* End Jumbotron */

/* Start Backgroun */
body {
    margin: 10px 20px;
    padding: 0;
    text-align: left;
    background: gray url("https://cdn.pixabay.com/photo/2017/10/14/09/56/journal-2850091__340.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    /* z-index: 1; */
    float: left;
    left: 0;
}
/* End Backgroun */


/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color : black;
    text-decoration: none;
}
a:hover,
a:active {
    color: black; 
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
}
h2 {
    font-size: 24px;
}
}
h3 {
    font-size: 18px;
}
}
h4 {
    font-size: 16px;
}
}
h5 {
    font-size: 14px;
}
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Menu Sekunder */
.menu-sekunder {   
    border-bottom: 1px solid gray;
    border-top: 1px solid grey;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 12px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a, 
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
/* End Menu Sekunder */

/* Start Main */
.main-home-one {
    float: left;
    width: 50%;
}
.main-home-two {
    float: right;
    width: 50%;
}
/* End Main */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}

/* Start Effect */
.snip1346 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #262626;
    font-size: 16px;
    transform: translateZ(0);
    display: inline-block;
  }
  .snip1346 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1346 img {
    max-width: 100%;
    vertical-align: top;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  }
  .snip1346 figcaption {
    background-color:#fefefe;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .snip1346 h3 {
    font-weight: 300;
    font-size: 1.4em;
    padding: 0px 0 0 40px;
    margin: 0;
    line-height: 40px;
  }
  .snip1346 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1346:hover img,
  .snip1346.hover img {
    -webkit-transform: translate(40px, 40px);
    transform: translate(40px, 40px);
  }
  /* End Effecy */